In [1]:
import pandas as pd
import numpy as np`

Reading in maintenance actions dataset

In [5]:
maf_actions = pd.read_csv("../raw/HtM_MAF Data_Final.csv", 
                         dtype = {'Transaction Code': str,
                                 'Aircraft': 'category',
                                 'Transaction Code': 'category',
                                 'Malfunction Code': 'category',
                                 'Action Taken Code': 'category'})

Many rows appear to have NaN in every column: dropping those rows

In [6]:
maf_actions.dropna(how = 'all', inplace=True)

Conveting Bare Metal, Prevention Corrosion Treatment, Routine, Unscheduled, Mission Related Maintenance, Failure to boolean T/F

In [7]:
maf_actions['Corrosion'] = maf_actions['Corrosion'] == 'Yes'

maf_actions['Bare Metal'] = maf_actions['Bare Metal'] == 'Yes'

maf_actions['Corrosion Prevention Treatment'] = maf_actions['Corrosion Prevention Treatment'] == 'Yes'

maf_actions['Routine Maintenance'] = maf_actions['Routine Maintenance'] == 'Yes'

maf_actions['Unscheduled Maintenance'] = maf_actions['Unscheduled Maintenance'] == 'Yes'

maf_actions['Mission-Related Maintenance'] = maf_actions['Mission-Related Maintenance'] == 'Yes'

maf_actions['Failure'] = maf_actions['Failure'] == 'Yes'

Convert Received Date and Completion Date to datetime

In [8]:
maf_actions['Received Date'] = pd.to_datetime(maf_actions['Received Date'])

maf_actions['Completion Date'] = pd.to_datetime(maf_actions['Completion Date'])

In [10]:
maf_actions.dtypes

Job Code                                  object
Aircraft                                category
Transaction Code                        category
Malfunction Code                        category
Action Taken Code                       category
Description of Problem                    object
Correction of Problem                     object
Received Date                     datetime64[ns]
Completion Date                   datetime64[ns]
Corrosion                                   bool
Bare Metal                                  bool
Corrosion Prevention Treatment              bool
Routine Maintenance                         bool
Unscheduled Maintenance                     bool
Mission-Related Maintenance                 bool
Failure                                     bool
dtype: object

In [11]:
maf_actions.head()

,Job Code,Aircraft,Transaction Code,Malfunction Code,Action Taken Code,Description of Problem,Correction of Problem,Received Date,Completion Date,Corrosion,Bare Metal,Corrosion Prevention Treatment,Routine Maintenance,Unscheduled Maintenance,Mission-Related Maintenance,Failure
0,29L1HRLP65324239,1,11,000,0,Perform a periodic inspection,Completed the inspection,2012-11-19,2012-11-26,False,False,False,True,False,False,False
1,29L1G6WP65246270,1,11,000,0,Perform corrosion prevention treatment on the ...,Performed corrosion prevention,2012-09-02,2012-09-03,False,False,True,False,False,False,False
2,29L1MVAP65126453,1,11,000,0,Perform a periodic inspection,Completed the inspection,2013-05-06,2013-05-19,False,False,False,True,False,False,False
3,3MNC6U7P6G277488,1,11,381,C,"A system, component, part, or surface on the a...",Observed the area and attempted to repair it,2018-10-04,2018-10-05,False,False,False,False,True,False,False
4,3TKLETXP62184570,1,11,000,0,Perform a periodic inspection,Completed the inspection,2018-07-03,2018-07-03,False,False,False,True,False,False,False

In [13]:
maf_actions.to_csv("../clean/maf_clean.csv")

Reading in MU data

In [14]:
mu_data = pd.read_csv('../raw/HTM_MSP_Final.csv',
                      header = 0,
                     names = ['Aircraft', 'Squadron', 'Lot', 'MSP', 'ZULU_Time', 'Flight_Mode'], 
                     dtype = {'Aircraft': 'category',
                             'Squadron': 'category',
                             'Lot': 'category',
                             'MSP': 'category',
                             'Flight_Mode': 'category'})

Converting ZULU_Time to datetime, extracting day to match with maf data

In [15]:
mu_data['Fault Date'] = pd.to_datetime(mu_data['ZULU_Time'].str.split(" ", n = 2, expand = True)[1])

mu_data['Fault Time'] = pd.to_datetime(mu_data['ZULU_Time'].str.split(" ", n = 2, expand = True)[2], format = '%H:%M:%S:%f').dt.time

In [48]:
mu_data.head()

,Aircraft,Squadron,Lot,MSP,ZULU_Time,Flight_Mode,Fault Date,Fault Time
0,1,HH,100,ZJMZTL,01-APR-2014 00:25:39:00,EngineTurn,2014-04-01,00:25:39
1,1,HH,100,JDJDMQ,01-APR-2014 00:25:39:00,EngineTurn,2014-04-01,00:25:39
2,1,HH,100,RTVBHP,01-APR-2014 00:25:39:00,EngineTurn,2014-04-01,00:25:39
3,1,HH,100,RTUXHP,01-APR-2014 00:25:39:00,EngineTurn,2014-04-01,00:25:39
4,1,HH,100,RTUXMZ,01-APR-2014 00:25:39:00,EngineTurn,2014-04-01,00:25:39

In [44]:
mu_data.dtypes

Aircraft             category
Squadron             category
Lot                  category
MSP                  category
ZULU_Time              object
Flight_Mode          category
Fault Date     datetime64[ns]
Fault Time             object
dtype: object

In [49]:
mu_data.to_csv("./data/clean/mu_clean.csv")